{% extends "base1.html" %}
{% block title %} this is the aboutus {% endblock %}
{% block content %}
<head>
<h1>this is the information of the ecommerce application</h1>
</head>
<body>
<p>this is the best application for small garmets shops and it is describes the 
about the shop and how many brands they have how much cost of thwe brond and how much of stock is available on the shop
this is the clear information givenby the shop</p>
<br>
<p1 style="color:Tomato;">this is the best application for small garmets shops and it is describes the 
about the shop and how many brands they have how much cost of thwe brond and how much of stock is available on the shop
this is the clear information givenby the shop</p1>
<br>
<p2 style="color:Tomato;">this is the best application for small garmets shops and it is describes the 
about the shop and how many brands they have how much cost of thwe brond and how much of stock is available on the shop
this is the clear information givenby the shop</p2>
<br>
<p3 style="color:Tomato;">this is the best application for small garmets shops and it is describes the 
about the shop and how many brands they have how much cost of thwe brond and how much of stock is available on the shop
this is the clear information givenby the shop</p3>
<br>
<p4 style="color:Tomato;">this is the best application for small garmets shops and it is describes the 
about the shop and how many brands they have how much cost of thwe brond and how much of stock is available on the shop
this is the clear information givenby the shop</p4>
<br>
</body>
{% endblock %}